[Unit]
Description=nova-agent service

[Service]
Environment=LD_LIBRARY_PATH=/usr/share/nova-agent/0.0.1.38/lib
EnvironmentFile=-/etc/nova-agent.env
ExecStart=${exec_prefix}/sbin/nova-agent -n -l info /usr/share/nova-agent/nova-agent.py


[Install]
WantedBy=multi-user.target
